<div class="container">
  <h1>Hi, this is my first project.</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{ task }}
    </li>
  </ul>

  <hr />

  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y tengo {{ age }}</p>

  <hr />
  <img [src]="person().avatar" alt="">
  <input type="text" [value]="name()">
  <button [disabled]="disabled">Click me</button>
  <p>Person: {{ person.name }}</p>

  <hr />
  <!-- Leer eventos en Angular -->

  <!-- click -->
  <button (click)="clickHandler()">click me</button> <br>

  <!-- doble click -->
  <button (dblclick)="clickHandler()">double me</button>

  <!-- Cuando se produce un cambio, no cambia en tiempo real -->
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">

  <!-- Cuando alguien oprime cualquier letra -->
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHanler($event)">

  <!-- Cuando alguien oprime un comando en especifico -->
  <p>(keydown con tecla especifica)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">

  <hr>
  <ul>
    <p>Total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">
     {{ i }} {{ task }}
    </li>
  </ul>
  <!-- Todos esos valores van a cambiar en tiempo real en todos los lugares donde yo llamé a name -->
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{ name () }}</p>

  <!-- ngif -->
  <hr>
  <!-- aparece cuando cumple la condición, en sensible a mayuscúlas -->
  <div *ngIf="name() === 'Marta'">
    Si, eres Marta!
  </div>

  <!-- metodo para cambiar la edad -->
  <p>(aqui puedes cambiar la edad)</p>
  <input type="number" [value]="person().age" (change)="changeAge($event)">

  <!-- cuando esa condición no se cumple, vaya a renderizar ese bloque. -->
  <div *ngIf="person().name === 'Brenda' && person().age > 18; else elseBlock">
    Si, eres Brenda y super mayor
  </div>
  <ng-template #elseBlock>
    Soy menor de edad y me llamo Cata
  </ng-template>

  <hr>
  <!-- metodo para cambiar el nombre -->
  <p>(aqui puedes cambiar el nombre)</p>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <!-- En casos cuando tenemos muchos ngIf, es mejor usar un ngSwitch y se lee mejor -->
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'Brenda'">Yo soy Brenda</p>
    <p *ngSwitchCase="'Marta'">Yo soy Marta</p>
    <p *ngSwitchCase="'Cata'">Yo soy Cata</p>
    <p *ngSwitchCase="'Eli'">Yo soy Eli</p>
    <p *ngSwitchCase="'German'">Yo soy German</p>
    <!-- Cuando no cumple con ningun caso, usamos una por default -->
    <p *ngSwitchDefault>Yo soy nadie muajajaj</p>
  </div>

  <hr>
  <input type="color" [formControl]="colorCtrl">
  <!-- Aca lo estamos leyendo al value de forma reactiva -->
  <p>Color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="500" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>

  <!-- Estilos de Angular -->
  <hr>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
</div>
